<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hg.dao.UserMapper">
    <select id="findOne" parameterType="User" resultType="com.hg.pojo.User">
        SELECT * FROM user where username=#{username} and userpwd=#{userpwd}
    </select>

    <insert id="addOne" parameterType="User" >
        insert into user(username,userpwd) values(#{username},#{userpwd})
    </insert>

    <select id="checkReg" resultType="com.hg.pojo.User">
        select * from user where username=#{username}
    </select>


</mapper>
